# Sesi & cache WA Bot (tidak perlu diunggah & bikin error izin)
wa-bot/.wwebjs_auth/
wa-bot/.wwebjs_cache/

# File sementara & hasil unggahan
uploads/
*.log
*.tmp

# File uji coba
test_*.php

# Dependensi Node.js (JANGAN PERNAH DIUPLOAD, BIKIN ERROR BEDA OS)
wa-bot/node_modules/